<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/main.css" type="text/css"/>
        
    </head>
<body>

    <div>
        <span>
        <a href='/yarninventory'><h2>Main Yarn Inventory!</h2></a>
        <a href='/yarninfo'><h2>Add a new type of yarn!</h2></a>
        <a href='/'><h2>Home</h2></a>
        <a href='/login'><h2>Login!</h2></a>
        <a href='/logout'><h2>Logout!</h2></a>
        </span>
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>
