{% extends "base.html" %}

{% block content %}
<h1>Welcome to your yarn organizer!</h1>
<form method='post'>
    <label>
        <h3>Username</h3><br>
        <input type="text" name='name' value='{{registered_username}}' />
    </label>
    <p class='error'>{{registered_username_error}}</p>
    <br>
    <label>
    <h3>Password:</h3>
    <div>
        <input type="text" name='password' value=''/>
        <p class='error'>{{stored_password_error}}</p>
    </div>
    </label>
    <div>
    <input type="submit" value='Enter into your inventory' />
    </div>
    
</form>
    <div>
    <a href="/createusername"><h2>Create a username</h2></a>
    </div>
{% endblock %}